body{
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    margin:auto;
}

.wrapper{
    display: grid;
}

.container{
    height: 100%;
}

@media (min-width: 1024px){
    .container{
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
    } 
}

@media (min-width: 768px) and (max-width: 1024px){
    .container{
        width: 100%;
    } 
}

@media (max-width: 768px){
    .container{
        width: 100%;
    }   
}

.link_color{
    color: #db5940;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.icon__circle{
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid #9a98a2;
}

.icon{
    position: relative;
}