header{
    background-color: #db5940;
    height: 80px;
}

.wrapper-header{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.logo{
    display: inline-block;
    margin-top: 23px;
    font-weight: 300;
    font-size: 26px;
    color: white;
}

@media (max-width: 768px){
    header{
        height: 100%;
    }
    .wrapper-header{
        display: block;
        height: 100%;
    }
    .logo{
        margin: 20px 0 20px 20px;
    }
}