.breadcrumb{
    background-color: transparent;
    display: inline-block;
    margin: 0;
}

.movie-info img{
    width: 400px;
}

.movie-info__gallery{
    text-align: center;
}

.movie-info__gallery img{
    padding: 5px;
    overflow: hidden;
    width: 200px;
}

.carousel-control, .carousel-control:hover, .carousel-control:focus{
    opacity: 0;
}

.movie-info__comments-item{
    padding: 10px;
}

.movie-info__images img{
    height: -webkit-fill-available;    
}

.movie-info__images{
    text-align: center;   
}

.carousel{
    display: inline-block;
    text-align: center;
    width: 100%;
}