body{
    padding: 0;
    width: 1170px;
    font-family: 'Source Sans Pro', sans-serif;
    margin:auto
}

.wrapper{
    display: grid;
}

.link_color{
    color: #db5940;
    text-decoration: none;
}

a{
    text-decoration: none;
}