body{
    padding: 0;
    width: 1170px;
    font-family: 'Source Sans Pro', sans-serif;
    margin:auto
}

.wrapper{
    display: grid;
}

.wrapper-header{
    grid-template-columns: 100px 470px;
    grid-gap: 600px;
}

.link_color{
    color: #db5940;
    text-decoration: none;
}