.social{
    background-color: #38373b;
    height: 70px;
    grid-template-columns: repeat(3, 370px);
    grid-gap: 30px;
}

.social__item{
    grid-template-columns: 70px 30px 270px; 
}

.social__text, .social__text a{
    margin: auto 0px;
    color: #9a98a2;
}

.social__text a:hover{
    text-decoration: underline;
}

.copyright{
    padding-top: 30px;
    color: #9a98a2;
    text-align: center;
}