footer{
    background-color: #38373b;
}

.social{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5%;
}

.social__item{
    grid-template-columns: 19% 8% 73%;
}

.social__text, .social__text a{
    margin: auto 0px;
    color: #9a98a2;
}

.social__text a:hover{
    text-decoration: underline;
}

.social_padding{
    padding: 80px 0px 79px 0px; 
}

.social__icon-circle{
    width: 64px;
    height: 64px;
}

.hr-footer{
    height: 0;
    text-align: center;
    border: #4f4e53 0.5px solid;
    margin: auto;
}

.copyright{
    color: #9a98a2;
    text-align: center;
}

.copyright_indents{
    padding-top: 40px;
    padding-bottom: 58px;
}