.slogan{
    background-color: #38373b;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.slogan__main-text{
    font-weight: 300;
    font-size: 28px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    letter-spacing: 6px;
}

.slogan__addit-text{
    font-weight: 300;
    font-size: 20px;
    color: white;
    text-align: center;
    letter-spacing: 2px;
}

.main-pic{
    height: 400px;
}

.main-info-wrapper{
    grid-template-columns: repeat(3, 370px);
    grid-gap: 30px;
    height: 260px;
    background-color: #f4f4f4;
}

.main-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-info__icon{
    height: 100px;
}

.icon__circle{
    position: relative;    
    width: 94px;
    height: 94px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid #9a98a2;
    z-index: 1;
}

.icon{
    position: relative;
    z-index: 2;    
}

.icon_heart{
    top: -70px;
    left: 25px;
}

.icon_pencil{
    top: -74px;
    left: 30px;
}

.icon_flag{
    top: -74px;
    left: 39px;
}

.main-info__title{
    font-weight: 300;
    font-size: 31px;
    color: #9a98a2;    
}

.main-info__text{
    text-align: center;
    margin-left: 19px;
    margin-right: 19px;
    font-size: 17px;
    color: #9a98a2;    
}

.main-preview-wrapper{
    height: 462px;
}
.main-preview-wrapper{
    grid-template-columns: 370px 200px 30px 200px 370px;    
    background-color: #ffffff;
    height: 201px;    
}

.main-preview__pic{
    width: 201px;
    border-radius: 50%;
}

.main-preview__info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-align_left{
    text-align: end;
}

.text-align_right{
    text-align: start;    
}

.main-preview__text{
    line-height: 25px;
    margin-right: 30px;
    margin-left: 30px;
    color: #9a98a2;
}