.slogan{
    background-color: #38373b;
    height: 140px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.slogan__main-text{
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    letter-spacing: 2px;
}

.slogan__addit-text{
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    letter-spacing: 2px;
}

.main-pic{
    height: 400px;
}

.main__sec1{
    height: 420px;
    background-color: #f4f4f4;
}

.main__sec2{
    height: 622px;
    background-color: #ffffff;
}