.slogan{
    background-color: #38373b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    padding-bottom: 40px;
    padding-top: 40px;
}

.slogan__main-text{
    font-weight: 300;
    font-size: 28px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    letter-spacing: 6px;
}

.slogan__addit-text{
    font-weight: 300;
    font-size: 20px;
    color: white;
    text-align: center;
    letter-spacing: 2px;
}

.main-pic{
    background-image: url('../images/main_pic.png');
    background-position: center;
    width: 100%;
    height: 400px;
}

.main-info-wrapper{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5%;
}

.container_main-info{
    background-color: #f4f4f4;
}

.main-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main-info__icon-circle{
    width: 94px;
    height: 94px;
}

.icon_heart{
    left: 1px;
    top: 2px;
}

.icon_pencil{
    left: 1px;
    bottom: 1px;
}

.icon_flag{
    left: 7px;
    top: 1px;
}

.main-info__title{
    font-weight: 300;
    font-size: 31px;
    color: #9a98a2;    
}

.main-info__text{
    text-align: center;
    margin-left: 19px;
    margin-right: 19px;
    font-size: 17px;
    color: #9a98a2;    
}

.main-preview-wrapper{
    grid-template-columns: 1fr 201px 30px 201px 1fr;    
    background-color: #ffffff;
}

.main-preview__pic{
    width: 100%;
    border-radius: 50%;
}

.main-preview__info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-align_left{
    text-align: end;
}

.text-align_right{
    text-align: start;    
}

.main-preview__text{
    line-height: 25px;
    margin-right: 30px;
    margin-left: 30px;
    color: #9a98a2;
}