.menu{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.menu__item{
    display: inline-flex;
    align-items: center;
    height: 100%;
    vertical-align: middle;
    margin-left: 36px; 
    padding: 0px 5px 0px 5px;
}

a .menu__item{
    color: white;
    text-decoration: none;
}

.menu__item:hover{
    background-color: #d0563e;
}